@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font: inherit;
}

a {
  color: inherit;
}
